<div class="action-tracker venture-rpg">
	<div>
		<strong>Actions</strong>
	</div>
	<div class="flexrow">
		<div>
			<div class="flexrow action-toggles">
				<div class="action-wrap">
					<img data-action="fast" class="use-action hover-shade inline-control combatant-control icon {{#if (gte actionsUsed 4.1)}}disabled{{/if}}" src="{{icons 'action-fast'}}"/>
				</div>
				<div class="action-wrap">
					<img data-action="medium" class="use-action hover-shade inline-control combatant-control icon {{#if (gte actionsUsed 3.1)}}disabled{{/if}}" src="{{icons 'action-medium'}}"/>
				</div>
				<div class="action-wrap">
					<img data-action="slow" class="use-action hover-shade inline-control combatant-control icon {{#if (gte actionsUsed 0.1)}}disabled{{/if}}" src="{{icons 'action-slow'}}"/>
				</div>
			</div>
			<div class="action-indicator">
				<div class="action-filler" style="width: {{actionToPercent actionsUsed 6.0}}%">
					
				</div>
			</div>
		</div>
		<div>
			<div class="flexrow action-toggles">
				<div class="action-wrap">
					<img data-action="reaction" class="use-action hover-shade inline-control combatant-control icon {{#if (gte reactionsUsed maxReactions)}}disabled{{/if}}" src="{{icons 'action-reaction'}}"/>
				</div>
			</div>
			<div class="action-indicator">
				<div class="action-filler" style="width: {{actionToPercent reactionsUsed maxReactions}}%">
					
				</div>
			</div>
		</div>
	</div>
</div>