<form class="actor-sheet">
  <h2>{{actor.name}}</h2>
  <div class="character-info">
    <div class="flexrow">
      <div class="field">
        <label for="level">Level:</label>
        <input type="number" name="system.level" value="{{system.level}}" min="0">
      </div>
    </div>
  </div>
  
  <nav class="tabs" data-group="primary">
    <!-- Tab navigation -->
    <ul class="tab-nav">
      <li class="active" data-tab="basic-info">Info</li>
      <li data-tab="edit">Edit Attributes</li>
    </ul>
  </nav>

  <div class="tab-content">
    <!-- Tab content -->
    <div class="tab active" data-group="primary" data-tab="basic-info">
      <h2>Skills and Defenses</h2>
      <div class="flexrow">
        <div>
          {{> (sheet_part "skills")}}
        </div>
        <div>
          {{> (sheet_part "defenses")}}
        </div>
      </div>
      <h2>Wounds and Burn</h2>
      <div class="flexrow">
        <div>
          {{> (sheet_part "wounds")}}
        </div>
        <div>
          {{> (sheet_part "burn")}}
        </div>
      </div>
      {{> (sheet_part "abilities")}}
    </div>

    <div class="tab" data-group="primary" data-tab="edit">
      <div>
        <button type="button" class="display-actor-info">Debug - Display Info</button>
      </div>
      {{> (sheet_part "setup-stats-npc")}}
      {{> (sheet_part "setup-wounds")}}
      {{> (sheet_part "setup-skills")}}
      {{> (sheet_part "setup-abilities")}}
    </div>
  </div>
</form>
