<form class="actor-sheet">
  <h1>NPC: {{actor.name}}</h1>
  <div class="abilities">
    <label>{{localize "VENTURE-RPG.AbilityStrength"}}
      <input type="number" name="venture-rpg.strength" value="{{venture-rpg.strength}}">
    </label>
    <label>{{localize "VENTURE-RPG.AbilityAgility"}}
      <input type="number" name="venture-rpg.agility" value="{{venture-rpg.agility}}">
    </label>
    <label>{{localize "VENTURE-RPG.AbilityIntelligence"}}
      <input type="number" name="venture-rpg.intelligence" value="{{venture-rpg.intelligence}}">
    </label>
    <label>{{localize "VENTURE-RPG.AbilityIntuition"}}
      <input type="number" name="venture-rpg.intuition" value="{{venture-rpg.intuition}}">
    </label>
  </div>
</form>
