<form class="actor-sheet">
  <h2>{{actor.name}}</h2>
  <div class="character-info">
    <div class="flexrow">
      <div class="field">
        <label for="species">Species:</label>
        <input type="text" name="system.species" value="{{system.species}}">
      </div>

      <div class="field">
        <label for="background">Background:</label>
        <input type="text" name="system.background" value="{{system.background}}">
      </div>

      <div class="field">
        <label for="exp">Exp:</label>
        <input type="number" name="system.exp" value="{{system.exp}}" min="0">
      </div>
      <div class="field">
        <label for="wealth">Wealth:</label>
        <input type="number" name="system.wealth" value="{{system.wealth}}" min="0">
      </div>
      <div class="field">
        <label for="wealth_track">Wealth Track:</label>
        <input type="number" name="system.wealth_track" value="{{system.wealth_track}}" min="0">
      </div>
    </div>
  </div>
  
  <div>
    <button type="button" class="display-actor-info">Display Info</button>
  </div>

  <nav class="tabs" data-group="primary">
    <!-- Tab navigation -->
    <ul class="tab-nav">
      <li class="active" data-tab="basic-info">Basic Info</li>
      <li data-tab="abilities">Abilities</li>
      <li data-tab="equipment">Equipment</li>
      <li data-tab="edit">Edit Attributes</li>
    </ul>
  </nav>

  <div class="tab-content">
    <!-- Tab content -->
    <div class="tab active" data-group="primary" data-tab="basic-info">
      <h2>Skills and Defenses</h2>
      <div class="flexrow">
        <div>
          {{> "systems/venture-rpg/templates/sheet-parts/skills.html"}}
        </div>
        <div>
          {{> "systems/venture-rpg/templates/sheet-parts/defenses.html"}}
        </div>
      </div>
      <h2>Resources, Wounds and Burn</h2>
      <div class="flexrow">
        <div>
          {{> "systems/venture-rpg/templates/sheet-parts/resources.html"}}
          {{> "systems/venture-rpg/templates/sheet-parts/wounds.html"}}
        </div>
        <div>
          {{> "systems/venture-rpg/templates/sheet-parts/burn.html"}}
        </div>
      </div>
    </div>

    <div class="tab" data-group="primary" data-tab="abilities">
      {{> "systems/venture-rpg/templates/sheet-parts/abilities.html"}}
    </div>

    <div class="tab" data-group="primary" data-tab="equipment">
      {{> "systems/venture-rpg/templates/sheet-parts/equipment.html"}}
    </div>

    <div class="tab" data-group="primary" data-tab="edit">
      {{> "systems/venture-rpg/templates/sheet-parts/setup-stats-character.html"}}
      {{> "systems/venture-rpg/templates/sheet-parts/setup-wounds.html"}}
      {{> "systems/venture-rpg/templates/sheet-parts/setup-resources.html"}}
      {{> "systems/venture-rpg/templates/sheet-parts/setup-skills.html"}}
      {{> "systems/venture-rpg/templates/sheet-parts/setup-abilities.html"}}
    </div>
  </div>
</form>
