<form class="actor-sheet">
  <div class="flexrow">
    <div>
    <h2>{{actor.name}}</h2>
      <div class="character-info">
        <div class="flexrow">
          <div class="field">
            <label for="species">Species:</label>
            <input type="text" name="system.species" value="{{system.species}}">
          </div>

          <div class="field">
            <label for="background">Background:</label>
            <input type="text" name="system.background" value="{{system.background}}">
          </div>

          <div class="field">
            <label for="exp">Exp:</label>
            <input type="number" name="system.exp" value="{{system.exp}}" min="0">
          </div>
          <div class="field">
            <label for="wealth">Wealth:</label>
            <input type="number" name="system.wealth" value="{{system.wealth}}" min="0">
          </div>
          <div class="field">
            <label for="wealth_track">Wealth Track:</label>
            <input type="number" name="system.wealth_track" value="{{system.wealth_track}}" min="0">
          </div>
        </div>
      </div>
    </div>
    <img class="character-sheet-token" src="{{actor.prototypeToken.texture.src}}"/>
  </div>

  <nav class="tabs" data-group="primary">
    <!-- Tab navigation -->
    <ul class="tab-nav">
      <li class="active" data-tab="basic-info">Basic Info</li>
      <li data-tab="abilities">Abilities</li>
      <li data-tab="equipment">Equipment</li>
      <li data-tab="notes">Notes</li>
      <li data-tab="edit">Edit Attributes</li>
    </ul>
  </nav>

  <div class="tab-content">
    <!-- Tab content -->
    <div class="tab active" data-group="primary" data-tab="basic-info">
      <h2>Skills and Defenses</h2>
      <div class="flexrow">
        <div>
          {{> (sheet_part "skills")}}
        </div>
        <div>
          {{> (sheet_part "untrained-skills")}}
          {{> (sheet_part "defenses")}}
        </div>
      </div>
      <h2>Resources, Wounds and Burn</h2>
      <div class="flexrow">
        <div>
          {{> (sheet_part "resources")}}
          {{> (sheet_part "wounds")}}
        </div>
        <div>
          {{> (sheet_part "burn")}}
        </div>
      </div>
    </div>

    <div class="tab" data-group="primary" data-tab="abilities">
      {{> (sheet_part "abilities")}}
    </div>

    <div class="tab" data-group="primary" data-tab="equipment">
      {{> (sheet_part "equipment")}}
    </div>

    <div class="tab" data-group="primary" data-tab="notes">
      {{> (sheet_part "notes")}}
    </div>

    <div class="tab" data-group="primary" data-tab="edit">
      <div>
        <button type="button" class="display-actor-info">Debug - Display Info</button>
      </div>
      {{> (sheet_part "setup-stats-character")}}
      {{> (sheet_part "setup-wounds")}}
      {{> (sheet_part "setup-resources")}}
    </div>
  </div>
</form>
