<form class="item-sheet" autocomplete="off">
	{{#forEach fields}}
		{{#if (eq field "name")}}
			<div>
				{{#if editable}}
				<label>Name</label>
					<input type="text" name="name" value="{{item.name}}"/>
				{{/if}}
			</div>
		{{/if}}
		{{#if (eq field "skill")}}
	    <div>
	      <label>Skill:</label>
      	{{#if (and editable item.actor)}}
      		{{#with (getActorSkills item.actor) as |skill_choices|}}
			      <select name="system.skill">
			      	{{selectOptions skill_choices selected=../system.skill labelAttr="name"}}
			      </select>
      		{{/with}}
		    {{else}}
					<p>{{system.skill}}</p>
		    {{/if}}
	    </div>
		{{/if}}
		{{#if (eq field "ability_type")}}
	    <div>
	      <label>Ability Type:</label>
      	{{#if editable}}
			      <select name="system.type">
			      	{{selectOptions ability_type_choices selected=system.type labelAttr="name"}}
			      </select>
		    {{else}}
					<p>{{getkeysafe (getkeysafe ability_type_choices system.type) "name"}}</p>
		    {{/if}}
	    </div>
		{{/if}}
		{{#if (eq field "price")}}
		  <div>
		    <label>Price:</label>
	    	{{#if editable}}
	    		<input type="number" name="system.price" value="{{system.price}}"/>
		    {{else}}
					<p>{{system.price}}</p>
		    {{/if}}
		  </div>
		{{/if}}
		{{#if (eq field "rank")}}
		  <div>
		    <label>Rank:</label>
	    	{{#if editable}}
	    		<input type="number" name="system.rank" value="{{system.rank}}"/>
		    {{else}}
					<p>{{system.rank}}</p>
		    {{/if}}
		  </div>
		{{/if}}
		{{#if (eq field "skill_stat")}}
		    <div>
		      <label>Stat:</label>
	      	{{#if editable}}
			      <select name="system.stat">
			      	{{selectOptions skill_stat_choices selected=system.stat labelAttr="name"}}
			      </select>
			    {{else}}
						<p>{{getkeysafe (getkeysafe skill_stat_choices system.stat) "name"}}</p>
			    {{/if}}
		    </div>
		{{/if}}
		{{#if (eq field "action")}}
	    <div>
	      <label>Action:</label>
      	{{#if editable}}
		      <select name="system.action">
		      	{{selectOptions action_choices selected=system.action labelAttr="name"}}
		      </select>
		    {{else}}
					<p>{{getkeysafe (getkeysafe action_choices system.action) "name"}}</p>
		    {{/if}}
	    </div>
		{{/if}}
		{{#if (eq field "cost")}}
	    <div>
	      <label>Cost:</label>
      	{{#if editable}}
      		<input type="number" name="system.cost" value="{{system.cost}}"/>
		      <select name="system.costtype">
		      	{{selectOptions costtype_choices selected=system.costtype labelAttr="name"}}
		      </select>
		    {{else}}
					<p>{{system.cost}} {{getkeysafe (getkeysafe costtype_choices system.costtype) "name"}}</p>
		    {{/if}}
	    </div>
		{{/if}}
		{{#if (eq field "stat")}}
		    <div>
		      <label>Stat:</label>
	      	{{#if editable}}
			      <select name="system.stat">
			      	{{selectOptions stat_choices selected=system.stat labelAttr="name"}}
			      </select>
			    {{else}}
						<p>{{getkeysafe (getkeysafe stat_choices system.stat) "name"}}</p>
			    {{/if}}
		    </div>
		{{/if}}
		{{#if (eq field "hands")}}
		    <div>
		      <label>Hands:</label>
	      	{{#if editable}}
			      <select name="system.hands">
			      	{{selectOptions hands_choices selected=system.hands labelAttr="name"}}
			      </select>
			    {{else}}
						<p>{{getkeysafe (getkeysafe hands_choices system.hands) "name"}}</p>
			    {{/if}}
		    </div>
		{{/if}}
		{{#if (eq field "range")}}
	    <div>
	      <label>Range:</label>
      	{{#if editable}}
		      <select name="system.range">
		      	{{selectOptions range_choices selected=system.range labelAttr="name"}}
		      </select>
		    {{else}}
					<p>{{getkeysafe (getkeysafe range_choices system.range) "name"}}</p>
		    {{/if}}
	    </div>
		{{/if}}
		{{#if (eq field "defense")}}
	    <div>
	      <label>Defense:</label>
      	{{#if editable}}
		      <select name="system.defense">
		      	{{selectOptions defense_choices selected=system.defense labelAttr="name"}}
		      </select>
		    {{else}}
					<p>{{getkeysafe (getkeysafe defense_choices system.defense) "name"}}</p>
		    {{/if}}
	    </div>
		{{/if}}
		{{#if (eq field "roll_type")}}
			<div>
				<label>Roll Type:</label>
	      <select name="system.roll_type">
	        <option value="skill" {{#if (eq system.roll_type "skill")}} selected {{/if}}>
	          Skill
	        </option>
	        <option value="help" {{#if (eq system.roll_type "help")}} selected {{/if}}>
	          Help
	        </option>
	        <option value="none" {{#if (eq system.roll_type "help")}} selected {{/if}}>
	          None
	        </option>
	      </select>
			</div>
		{{/if}}
		{{#if (eq field "is_combat")}}
			<div>
				<label>Is Combat Skill:</label>
				<input type="checkbox" name="system.is_combat" {{#if system.is_combat}}checked{{/if}}/>
			</div>
		{{/if}}
		{{#if (eq field "bonus_stat")}}
		    <div>
		      <label>Bonus Stat:</label>
					<p>{{getkeysafe (getkeysafe system.modifiers 0) "target"}}</p>
		    </div>
		{{/if}}
		{{#if (eq field "community")}}
			<div>
				<label>Community:</label>
		    {{#if editable}}
		    	<input type="text" name="system.community" value="{{system.community}}"/>
		    {{else}}
					<p>{{{system.community}}}</p>
		    {{/if}}
			</div>
		{{/if}}
		{{#if (eq field "ability")}}
			<div>
				<label>Ability:</label>
		    {{#if editable}}
		    	{{editor system.ability class="editor-box" target="system.ability" button=true engine="prosemirror"}}
		    {{else}}
					<p>{{{system.ability}}}</p>
		    {{/if}}
			</div>
		{{/if}}
		{{#if (eq field "description")}}
			<div>
				<label>Description:</label>
		    {{#if editable}}
		    	{{editor system.description class="editor-box" target="system.description" button=true engine="prosemirror"}}
		    {{else}}
					<p>{{{system.description}}}</p>
		    {{/if}}
			</div>
		{{/if}}
		{{# if (and editable (eq field "modifiers"))}}
			<div>
				<label>Modifiers:</label>
				<table class="modifiers-table">
		      <tr>
		        <th>Target</th>
		        <th>Value</th>
		        <th></th>
		      </tr>
		      {{#each system.modifiers as |mod i|}}
		      <tr>
		        <td>
		          <input type="text" class="modifier-input" data-index="{{i}}" data-field="target" value="{{mod.target}}" placeholder="e.g. strength">
		        </td>
		        <td>
		          <input type="number" class="modifier-input" data-index="{{i}}" data-field="value" value="{{mod.value}}">
		        </td>
		        <td>
		          <a class="delete-modifier" data-index="{{i}}">
		            <i class="fas fa-trash"></i>
		          </a>
		        </td>
		      </tr>
		      {{/each}}
	        <a class="add-modifier"><i class="fas fa-plus"></i> Add Modifier</a>
			  </table>
			</div>
		{{/if}}
	{{/forEach}}
</form>