<div>
	<h3>Stat Burn</h3>
  <table class="first-column-grow">
    {{> (component "damage-tracker")
      name="Strength"
      amount_used = system.strength_burn
      max_amount = system.derived.strength
      min_amount = 1
      data_field = "strength_burn"
      largest_value = largest_stat
    }}
    {{> (component "damage-tracker")
      name="Agility"
      amount_used = system.agility_burn
      max_amount = system.derived.agility
      min_amount = 1
      data_field = "agility_burn"
      largest_value = largest_stat
    }}
    {{> (component "damage-tracker")
      name="Intelligence"
      amount_used = system.intelligence_burn
      max_amount = system.derived.intelligence
      min_amount = 1
      data_field = "intelligence_burn"
      largest_value = largest_stat
    }}
    {{> (component "damage-tracker")
      name="Intuition"
      amount_used = system.intuition_burn
      max_amount = system.derived.intuition
      min_amount = 1
      data_field = "intuition_burn"
      largest_value = largest_stat
    }}
    {{#unless (eq actor.type "npc")}}
      {{> (component "damage-tracker")
        name="Endurance"
        amount_used = system.endurance_burn
        max_amount = system.derived.endurance
        min_amount = 0
        data_field = "endurance_burn"
        largest_value = largest_stat
      }}
      {{#if system.derived.fuel}}
        {{> (component "damage-tracker")
          name="Fuel"
          amount_used = system.fuel_burn
          max_amount = system.derived.fuel
          min_amount = 0
          data_field = "fuel_burn"
          largest_value = largest_stat
        }}
      {{/if}}
    {{/unless}}
  </table>
</div>