<div>
  <h3>Defenses</h3>
  <table class="first-column-grow">
    {{#each current_stats as |stat key|}}
      <tr>
        <td><label> {{key}}: {{rankToDie stat}} + {{rankToDie stat}}
        </label>
        <td>
          {{> (component "icon-with-wrap") 
            title="Quick roll"
            filename="rolling-dice-cup"
            click_class="roll-skill"
            extra_classes="roll-icon"
            data=(data_fields 
              "name" key
              "d1" stat
              "d2" stat
            )
          }}
        </td>
        <td>
          {{> (component "icon-with-wrap") 
            title="Roll menu"
            filename="boon"
            click_class="roll-skill-boon"
            extra_classes="roll-icon"
            data=(data_fields 
              "name" key
              "d1" stat
              "d2" stat
            )
          }}
        </td>
      </tr>
    {{/each}}
  </table>
</div>