<div class="equipment">
  <h2 class="flexrow"><div>Equipment</div>
    {{> (component "icon-with-wrap") 
      title="Edit"
      filename="edit"
      click_class="toggle-edit"
      data=(data_fields 
        "field" "equipment"
      )
    }}
  </h2>
  <h3>Weapons</h3>
  <table>
    <tr>
      <th>Item</th>
      <th>Stat</th>
      <th>Action</th>
      <th>Range</th>
      <th>Description</th>
    </tr>
    {{#each system.weapons as |item key|}}
      <tr>
        <td>{{item.name}}</td>
        <td>{{item.stat}}</td>
        <td>{{item.action}}</td>
        <td>{{item.range}}</td>
        <td>{{{item.description}}}</td>
      </tr>
    {{/each}}
  </table>
  <h3>Other Equipment</h3>
  <table>
    <tr>
      <th>Item</th>
      <th>Description</th>
    </tr>
    {{#each system.equipment as |item key|}}
      <tr>
        <td>{{item.name}}</td>
        <td>{{{item.description}}}</td>
      </tr>
    {{/each}}
  </table>
</div>