<div>
	<h3>Resources</h3>
  <table class="first-column-grow">
    {{> (component "damage-tracker")
      name="Vigour"
      amount_used = system.vigour
      max_amount = system.derived.max_vigour
      min_amount = 0
      data_field = "vigour"
      largest_value = largest_resource
    }}
    {{> (component "damage-tracker")
      name="Vim"
      amount_used = system.vim
      max_amount = system.derived.max_vim
      min_amount = 0
      data_field = "vim"
      largest_value = largest_resource
    }}
    {{#if system.derived.max_steam}}
      {{> (component "damage-tracker")
        name="Steam"
        amount_used = system.steam
        max_amount = system.derived.max_steam
        min_amount = 0
        data_field = "steam"
        largest_value = largest_resource
      }}
    {{/if}}
  </table>
</div>