<div>
	<h3>Resources</h3>
  <table class="first-column-grow">
    <tr class="damage-tracker">
      <td><label>Vigour</label></td>
      {{#times system.vigour}}
        <td><input type="checkbox" checked="true" disabled/></td>
      {{/times}}
      {{#times (subtract system.max_vigour system.vigour)}}
        <td><input type="checkbox" disabled/></td>
      {{/times}}
      {{#if (gte (subtract system.largest_resource system.max_vigour) 1) }}<td colspan="{{subtract system.largest_resource system.max_vigour}}"/>{{/if}}
      <td><button class="increment-button" data-name="increment-button" data-amount="+1" data-field="vigour" {{#if (gte system.vigour system.max_vigour)}} disabled {{/if}}>+</button></td>
      <td><button class="increment-button" data-name="increment-button" data-amount="-1" data-field="vigour" {{#if (gte 0 system.vigour)}} disabled {{/if}}>-</button></td>
    </tr>
    <tr class="damage-tracker">
      <td><label>Vim</label></td>
      {{#times system.vim}}
        <td><input type="checkbox" checked="true" disabled/></td>
      {{/times}}
      {{#times (subtract system.max_vim system.vim)}}
        <td><input type="checkbox" disabled/></td>
      {{/times}}
      {{#if (gte (subtract system.largest_resource system.max_vim) 1) }}<td colspan="{{subtract system.largest_resource system.max_vim}}"/>{{/if}}
      <td><button class="increment-button" data-name="increment-button" data-amount="+1" data-field="vim" {{#if (gte system.vim system.max_vim)}} disabled {{/if}}>+</button></td>
      <td><button class="increment-button" data-name="increment-button" data-amount="-1" data-field="vim" {{#if (gte 0 system.vim)}} disabled {{/if}}>-</button></td>
    </tr>
    {{#if system.max_steam}}
    <tr class="damage-tracker">
      <td><label>Steam</label></td>
      {{#times system.steam}}
        <td><input type="checkbox" checked="true" disabled/></td>
      {{/times}}
      {{#times (subtract system.max_steam system.steam)}}
        <td><input type="checkbox" disabled/></td>
      {{/times}}
      {{#if (gte (subtract system.largest_resource system.max_steam) 1) }}<td colspan="{{subtract system.largest_resource system.max_steam}}"/>{{/if}}
      <td><button class="increment-button" data-name="increment-button" data-amount="+1" data-field="steam" {{#if (gte system.steam system.max_steam)}} disabled {{/if}}>+</button></td>
      <td><button class="increment-button" data-name="increment-button" data-amount="-1" data-field="steam" {{#if (gte 0 system.steam)}} disabled {{/if}}>-</button></td>
    </tr>
    {{/if}}
  </table>
</div>