<div class="stats">
  <h3>Stats</h3>
  <div class="flexrow">
    <label class="stat">Str
      <input type="number" name="system.strength" value="{{system.strength}}" min="1" max="5">
    </label>
    <label class="stat">Agi
      <input type="number" name="system.agility" value="{{system.agility}}" min="1" max="5">
    </label>
    <label class="stat">Int
      <input type="number" name="system.intelligence" value="{{system.intelligence}}" min="1" max="5">
    </label>
    <label class="stat">Inu
      <input type="number" name="system.intuition" value="{{system.intuition}}" min="1" max="5">
    </label>
    <label>Endurance
      <input type="number" name="system.endurance" value="{{system.endurance}}" min="1" max="5">
    </label>
  </div>
</div>