
<div>
  <h3>Skills</h3>
  <table class="first-column-grow">
    {{#each system.trained_skills as |skill key|}}
    <tr>
      <td><label> {{skill.name}}: {{rankToDie skill.rank}} + {{rankToDie skill.statValue}}
      </label></td>
      <td>
        {{> (component "icon-with-wrap") 
          title="Quick roll"
          filename="rolling-dice-cup"
          click_class="roll-skill"
          extra_classes="roll-icon"
          data=(data_fields 
            "name" skill.name
            "d1" skill.rank
            "d2" skill.statValue
          )
        }}
      </td>
      <td>
        {{> (component "icon-with-wrap") 
          title="Roll menu"
          filename="boon"
          click_class="roll-skill-boon"
          extra_classes="roll-icon"
          data=(data_fields 
            "name" skill.name
            "d1" skill.rank
            "d2" skill.statValue
          )
        }}
      </td>
      <td>
        {{> (component "icon-with-wrap") 
          title="Help another"
          filename="help"
          click_class="roll-skill-boon"
          extra_classes="roll-icon"
          data=(data_fields 
            "name" skill.name
            "d1" -1
            "d2" -1
            "d3" skill.rank
          )
        }}
      </td>
    </tr>
    {{/each}}
  </table>
  <table class="first-column-grow">
    {{#each system.untrained_skills as |skill key|}}
      <tr>
        <td><label> {{skill.name}}: {{rankToDie skill.rank}} + {{rankToDie skill.statValue}}
        </label></td>
      <td>
        {{> (component "icon-with-wrap") 
          title="Quick roll"
          filename="rolling-dice-cup"
          click_class="roll-skill"
          extra_classes="roll-icon"
          data=(data_fields 
            "name" skill.name
            "d1" skill.rank
            "d2" skill.statValue
          )
        }}
      </td>
      <td>
        {{> (component "icon-with-wrap") 
          title="Roll menu"
          filename="boon"
          click_class="roll-skill-boon"
          extra_classes="roll-icon"
          data=(data_fields 
            "name" skill.name
            "d1" skill.rank
            "d2" skill.statValue
          )
        }}
      </td>
      <td>
        {{> (component "icon-with-wrap") 
          title="Help another"
          filename="help"
          click_class="roll-skill-boon"
          extra_classes="roll-icon"
          data=(data_fields 
            "name" skill.name
            "d1" -1
            "d2" -1
            "d3" skill.rank
          )
        }}
      </td>
      </tr>
    {{/each}}
  </table>
</div>