<div>
  <h3>Untrained Skills</h3>
  <table class="first-column-grow">
    {{#each current_stats as |stat key|}}
      <tr>
        <td><label> {{key}}: {{rankToDie 0}} + {{rankToDie stat}}
        </label>
        <td>
          {{> (component "icon-with-wrap") 
            title="Quick roll"
            filename="rolling-dice-cup"
            click_class="roll-skill"
            extra_classes="roll-icon"
            data=(data_fields 
              "name" key
              "d1" "0"
              "d2" stat
            )
          }}
        </td>
        <td>
          {{> (component "icon-with-wrap") 
            title="Roll menu"
            filename="boon"
            click_class="roll-skill-boon"
            extra_classes="roll-icon"
            data=(data_fields 
              "name" key
              "d1" "0"
              "d2" stat
            )
          }}
        </td>
        <td>
          {{> (component "icon-with-wrap") 
            title="Roll menu"
            filename="help"
            click_class="roll-skill-boon"
            extra_classes="roll-icon"
            data=(data_fields 
              "name" key
              "d1" "-1"
              "d2" "-1"
              "d3" "0"
            )
          }}
        </td>
      </tr>
    {{/each}}
  </table>
</div>