<div>
  <h3>Wounds</h3>
  <table class="first-column-grow">
    {{#if system.derived.max_guard }}
      {{> (component "damage-tracker")
        name="Guard"
        amount_used = system.guard
        max_amount = system.derived.max_guard
        min_amount = 0
        data_field = "guard"
        largest_value = largest_wounds
      }}
    {{/if }}
    {{> (component "damage-tracker")
      name="Minor Wounds"
      amount_used = system.minor_wounds
      max_amount = system.derived.max_minor_wounds
      min_amount = 0
      data_field = "minor_wounds"
      largest_value = largest_wounds
    }}
    {{> (component "damage-tracker")
      name="Major Wounds"
      amount_used = system.major_wounds
      max_amount = system.derived.max_major_wounds
      min_amount = 0
      data_field = "major_wounds"
      largest_value = largest_wounds
      threshold = system.derived.major_threshold
    }}
    {{> (component "damage-tracker")
      name="Critical Wounds"
      amount_used = system.critical_wounds
      max_amount = system.derived.max_critical_wounds
      min_amount = 0
      data_field = "critical_wounds"
      largest_value = largest_wounds
      threshold = system.derived.critical_threshold
    }}
  </table>
</div>