.venture-rpg .actor-sheet {
  padding: 10px;
}

.venture-rpg .actor-sheet .stat{
  width: 30px;
}

.venture-rpg .actor-sheet .skill, .venture-rpg .actor-sheet .ability, .venture-rpg .actor-sheet .equip{
  display: flex;
}

.venture-rpg .actor-sheet .flexrow{
  display: flex;
  gap: 10px;
}

.venture-rpg .actor-sheet .roll-skill, .venture-rpg .actor-sheet .roll-skill-boon{
  width: 24px;
  height: 24px;
}

.venture-rpg .actor-sheet .first-column-grow td:first-child{
  width: 100%;
}

.venture-rpg .actor-sheet .tabs {
  flex-flow: column nowrap; 
  margin-top: 10px; 
  width: 100%;
}
.venture-rpg .actor-sheet .tab{
  width: 100%;
}
.venture-rpg .actor-sheet .tab *{
  text-shadow: none !important
}
.venture-rpg .actor-sheet .tab-nav { 
  list-style: none; 
  display: flex; 
  padding: 0; 
  margin: 0 0 10px 0; 
}
.venture-rpg .actor-sheet .tab-nav li {
  padding: 5px 15px;
  cursor: pointer;
  margin-right: 2px;
  border-radius: 3px 3px 0 0;
}
.venture-rpg .actor-sheet .tab-nav li.active { background-color: #BBB; }
.venture-rpg .actor-sheet .tab { 
  display: none; 
}
.venture-rpg .actor-sheet .tab.active { display: block; }

.venture-rpg .actor-sheet .increment-button{
  width: 24px;
  height: 24px;
  padding: 0px;
}

.venture-rpg .die-indicator{
  width: 64px;
  height: 64px;
  border: none;
}

.venture-rpg .roll-icon{
  min-width: 24px;
  border: 0px;
  border-radius: 5px;
}

.venture-rpg .icon{
  width: 24px;
  min-width: 24px;
  max-width: 24px;
  border: 0px;
  border-radius: 5px;
}

.hover-shade:not(.ui-state-disabled):not(.disabled):not([disabled]){
    cursor:pointer;
}
.hover-shade:not(.ui-state-disabled):not(.disabled):not([disabled]):hover{
    box-shadow: inset 0 0 0 9999px rgba(0,0,0,0.1);
}

.roll-category > *{
  margin: auto;
}

.venture-rpg.dice-adjust-menu .increment-button{
  width: 24px;
  max-width: 24px;
  height: 24px;
  padding: 0px;
}

.venture-rpg .roll-category{
  margin-bottom: 10px;
}

.venture-rpg .roll-category .flexrow{
  justify-content: center;
}

.venture-rpg .too-expensive{
  box-shadow: inset 0 0 0 9999px rgba(255,0,0,0.1);
}